/* 전체 스타일 */
.content {
    width: 60%;
    margin: auto;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

/* 질문 목록 스타일 */
.faq-list {
    list-style: none;
    padding: 0;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

/* 질문 스타일 */
.question {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: block;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.question:hover {
    color: #007bff;
}

/* 답변 스타일 */
.faq-content {
    font-size: 16px;
    color: #666;
    padding: 10px;
    display: none;
    background: #f9f9f9;
    border-left: 3px solid #007bff;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
