<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.AdminrerMapper">
<select id="getrer"  resultType="com.example.demo.model.Return_exchange_refund">
SELECT o.USER_ID, b.BOOK_TITLE, r.status,r.request_id
FROM return_exchange_refund r
JOIN orders o ON r.order_id = o.ORDER_ID
JOIN orders_detail od ON r.order_detail_id = od.ORDER_DETAIL_ID
JOIN book b ON od.ISBN = b.ISBN
where r.order_status=2
</select>
<select id="getexchange" resultType="com.example.demo.model.Return_exchange_refund">
SELECT o.USER_ID, b.BOOK_TITLE, r.status , r.request_id
FROM return_exchange_refund r
JOIN orders o ON r.order_id = o.ORDER_ID
JOIN orders_detail od ON r.order_detail_id = od.ORDER_DETAIL_ID
JOIN book b ON od.ISBN = b.ISBN
where r.order_status=4
</select>
<select id="getRer" parameterType="String" resultType="MyOrders">
SELECT DISTINCT
	r.order_detail_id,
    r.REQUEST_ID,
    o.ADDRESS,
    o.ADDRESS_DETAIL,
    r.REASON,
    u.USER_NAME,
    u.phone
FROM 
    return_exchange_refund r
JOIN 
    orders o ON r.ORDER_ID = o.ORDER_ID
JOIN 
    orders_detail od ON o.ORDER_ID = od.ORDER_ID
JOIN 
    users u ON o.USER_ID = u.USER_ID
WHERE 
    r.REQUEST_ID =#{request_id}

</select>
<update id="seungin" parameterType="String">
	update return_exchange_refund set status=1 where order_detail_id=#{order_detail_id}
</update>
<update id="seunginreturn" parameterType="String">
UPDATE orders o
SET o.ORDER_STATUS = 3
WHERE o.ORDER_ID = (
    SELECT od.ORDER_ID
    FROM orders_detail od
    WHERE od.ORDER_DETAIL_ID = #{ORDER_DETAIL_ID}
)
</update>
<update id="seunginexchange" parameterType="String">
UPDATE orders o
SET o.ORDER_STATUS = 5
WHERE o.ORDER_ID = (
    SELECT od.ORDER_ID
    FROM orders_detail od
    WHERE od.ORDER_DETAIL_ID = #{ORDER_DETAIL_ID}
)
</update>
</mapper>

	




