<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.CouponMapper">

	<select id="findUserCoupon" parameterType="Usercoupon" resultType="Integer">
        select coupon_id from user_coupon where user_id = #{user_id} and coupon_id = #{coupon_id}
    </select>
    <insert id="getUserCoupon" parameterType="Usercoupon">
    	insert into user_coupon values(#{user_id}, #{coupon_id}, 0, NULL)
    </insert>

	<select id="findUserCouponByUserId" parameterType="String" resultType="Usercoupon">
		select user_id, coupon_id, is_used, used_at from user_coupon where is_used = 0 and user_id = #{user_id}
	</select>
	<select id="getUserCouponDetail" parameterType="Usercoupon" resultType="Usercoupon">
		select user_id, coupon_id, is_used, used_at from user_coupon where user_id = #{user_id} and coupon_id = #{coupon_id}
	</select>
	<select id="couponDetail" parameterType="Integer" resultType="Coupon">
		select coupon_id, discount_percentage, valid_from, valid_until, coupon_code, cat_id 
			from coupon where coupon_id = #{coupon_id}
	</select>
	<select id="getAppliedCoupon" parameterType="String" resultType="Usercoupon">
		select user_id, coupon_id, is_used from user_coupon 
			where user_id = #{user_id} and is_used = 1
	</select>
	<update id="applyCoupon" parameterType="Usercoupon">
		update user_coupon
    	set is_used = case 
                    when is_used = 0 then 1 
                    when is_used = 1 then 0 
                  end
		where user_id = #{user_id} and coupon_id = #{coupon_id}                  
	</update>
	<select id="admingetcoupon" resultType="Coupon">
		select coupon_id, discount_percentage, valid_from, valid_until, coupon_code, cat_id 
			from coupon 
			WHERE valid_until >= CURRENT_DATE
	</select>
	
	<select id="CouponList" parameterType="StartEnd" resultType="Coupon">
		select coupon_id,discount_percentage, valid_from, valid_until, coupon_code, cat_id 
		from (select rownum rank, a.*
		        from(
		        	select coupon_id, discount_percentage, valid_from, valid_until,coupon_code,
			     	cat_id
			     	from coupon 
			     	order by coupon_id desc 
			     	) a)
		where rank > #{start} and rank <![CDATA[<]]> #{end}	
	</select>
	
	<select id="getTotalcoupon" resultType="Integer">
		select count(*) from coupon
	</select>
</mapper>

	




