<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.FieldMapper">

   <select id="getCategories" parameterType="String" resultType="Category">
		select cat_id,cat_name from categories where parent_id=#{parent_id}
	</select>

	<select id="countSubCategories" resultType="Integer" parameterType="Integer">
    select count(*) FROM categories where parent_id = #{cat_id}
	</select>
<!-- 특정 카테고리에 속한 책 목록 조회 -->

	<select id="getCategoriesName" parameterType="String" resultType="String">
		select cat_name from categories where cat_id=#{cat_id}
	</select>
	
<!-- 책 상세 정보 조회 -->
<select id="getBookDetail" parameterType="java.lang.Long" resultType="book">
      SELECT isbn, book_title,
        (SELECT LISTAGG(author, ', ') WITHIN GROUP (ORDER BY author) 
         FROM book_author WHERE isbn = book.isbn) AS authors,
        publisher, price, stock,
        TO_CHAR(pub_date, 'YYYY-MM-DD') AS pub_date,
        TO_CHAR(reg_date, 'YYYY-MM-DD') AS reg_date,
        cat_id, image_name
    FROM book
    WHERE isbn = #{isbn, jdbcType=BIGINT}
</select>

<!-- 카테고리 정보 조회 -->
<select id="getCategoryById" parameterType="java.lang.Long" resultType="String">
SELECT (SELECT LISTAGG(c.cat_name, ' > ') WITHIN GROUP (ORDER BY LEVEL DESC) 
        FROM categories c 
        START WITH c.cat_id = bc.cat_id 
        CONNECT BY PRIOR c.parent_id = c.cat_id) AS categoryPath
FROM book b
JOIN book_categories bc ON b.isbn = bc.isbn
WHERE b.isbn = #{isbn, jdbcType=BIGINT}
</select>
<select id="getorderByBook" parameterType="StartEnd" resultType="Book">
    SELECT * 
FROM (
    SELECT ROWNUM AS rn, 
           b.isbn, 
           b.book_title,
           (SELECT LISTAGG(ba.author, ', ') WITHIN GROUP (ORDER BY ba.author)
            FROM book_author ba
            WHERE ba.isbn = b.isbn) AS authors,
           b.price,
           b.publisher,
           b.pub_date,
           b.image_name,
           NVL(s.sales_count, 0) AS sales_count,
           NVL(r.review_count, 0) AS review_count,
           NVL(b.total_rating, 0) AS total_rating,
           bc.cat_id -- book_categories
    FROM book b
    LEFT JOIN (SELECT od.isbn, SUM(od.quantity) AS sales_count
               FROM orders_detail od
               GROUP BY od.isbn) s ON b.isbn = s.isbn
    LEFT JOIN (SELECT r.isbn, COUNT(r.review_id) AS review_count
               FROM review r
               GROUP BY r.isbn) r ON b.isbn = r.isbn
    LEFT JOIN book_categories bc ON b.isbn = bc.isbn
    WHERE bc.cat_id =#{cat_id, jdbcType=VARCHAR}  
    <choose>
        <when test="sort == 'sales'">
            ORDER BY sales_count DESC
        </when>
        <when test="sort == 'review'">
            ORDER BY review_count DESC
        </when>
        <when test="sort == 'rating'">
            ORDER BY total_rating DESC
        </when>
        <otherwise>
            ORDER BY b.pub_date DESC
        </otherwise>
    </choose>
) a
WHERE a.rn > #{start} AND a.rn <![CDATA[<=]]> #{end} 
</select>

<update id="buyBook" parameterType="Book">
	update book set stock = #{stock} where isbn = #{isbn}
</update>
<select id="getBookSalesReport" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
	FROM (
    	SELECT rownum rn, a.* 
    	FROM (
        	SELECT 
            	b.isbn, 
            	b.book_title, 
            	COALESCE(SUM(od.quantity), 0) AS total_sales, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
            	COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
        	FROM book b
        	LEFT JOIN orders_detail od ON b.isbn = od.isbn
        	LEFT JOIN orders o ON od.order_id = o.order_id
        	GROUP BY b.isbn, b.book_title
        	ORDER BY total_sales DESC
    	) a 
    	WHERE rownum <![CDATA[<=]]> #{end}  
	) 
	WHERE rn > #{start}  
	ORDER BY rn
</select>
<select id="getBookSalesReportDT" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
	FROM (
    	SELECT rownum rn, a.* 
    	FROM (
        	SELECT 
            	b.isbn, 
            	b.book_title, 
            	COALESCE(SUM(od.quantity), 0) AS total_sales, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
            	COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
        	FROM book b
        	LEFT JOIN orders_detail od ON b.isbn = od.isbn
        	LEFT JOIN orders o ON od.order_id = o.order_id
        	GROUP BY b.isbn, b.book_title
        	ORDER BY daily_sales DESC
    	) a 
    	WHERE rownum <![CDATA[<=]]> #{end}  
	) 
	WHERE rn > #{start}  
	ORDER BY rn
</select>
<select id="getBookSalesReportTR" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
	FROM (
    	SELECT rownum rn, a.* 
    	FROM (
        	SELECT 
            	b.isbn, 
            	b.book_title, 
            	COALESCE(SUM(od.quantity), 0) AS total_sales, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
            	COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
        	FROM book b
        	LEFT JOIN orders_detail od ON b.isbn = od.isbn
        	LEFT JOIN orders o ON od.order_id = o.order_id
        	GROUP BY b.isbn, b.book_title
        	ORDER BY total_revenue DESC
    	) a 
    	WHERE rownum <![CDATA[<=]]> #{end}  
	) 
	WHERE rn > #{start}  
	ORDER BY rn
</select>
<select id="getBookSalesReportDR" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
	FROM (
    	SELECT rownum rn, a.* 
    	FROM (
        	SELECT 
            	b.isbn, 
            	b.book_title, 
            	COALESCE(SUM(od.quantity), 0) AS total_sales, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
            	COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
            	COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
        	FROM book b
        	LEFT JOIN orders_detail od ON b.isbn = od.isbn
        	LEFT JOIN orders o ON od.order_id = o.order_id
        	GROUP BY b.isbn, b.book_title
        	ORDER BY daily_revenue DESC
    	) a 
    	WHERE rownum <![CDATA[<=]]> #{end}  
	) 
	WHERE rn > #{start}  
	ORDER BY rn
</select>
<select id="getBookSalesSearch" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
    FROM (
        SELECT rownum rn, a.* 
        FROM (
            SELECT 
                b.isbn, 
                b.book_title, 
                COALESCE(SUM(od.quantity), 0) AS total_sales, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
                COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
            FROM book b
            LEFT JOIN orders_detail od ON b.isbn = od.isbn
            LEFT JOIN orders o ON od.order_id = o.order_id
            WHERE b.book_title LIKE '%' || #{key} || '%'  
            GROUP BY b.isbn, b.book_title
            ORDER BY total_sales DESC  
        ) a 
        WHERE rownum <![CDATA[<=]]> #{end}  
    ) 
    WHERE rn > #{start}  
    ORDER BY rn
</select>
<select id="getBookSalesSearchDT" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
    FROM (
        SELECT rownum rn, a.* 
        FROM (
            SELECT 
                b.isbn, 
                b.book_title, 
                COALESCE(SUM(od.quantity), 0) AS total_sales, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
                COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
            FROM book b
            LEFT JOIN orders_detail od ON b.isbn = od.isbn
            LEFT JOIN orders o ON od.order_id = o.order_id
            WHERE b.book_title LIKE '%' || #{key} || '%'  
            GROUP BY b.isbn, b.book_title
            ORDER BY daily_sales DESC  
        ) a 
        WHERE rownum <![CDATA[<=]]> #{end}  
    ) 
    WHERE rn > #{start}  
    ORDER BY rn
</select>
<select id="getBookSalesSearchTR" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
    FROM (
        SELECT rownum rn, a.* 
        FROM (
            SELECT 
                b.isbn, 
                b.book_title, 
                COALESCE(SUM(od.quantity), 0) AS total_sales, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
                COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
            FROM book b
            LEFT JOIN orders_detail od ON b.isbn = od.isbn
            LEFT JOIN orders o ON od.order_id = o.order_id
            WHERE b.book_title LIKE '%' || #{key} || '%'  
            GROUP BY b.isbn, b.book_title
            ORDER BY total_revenue DESC  
        ) a 
        WHERE rownum <![CDATA[<=]]> #{end}  
    ) 
    WHERE rn > #{start}  
    ORDER BY rn
</select>
<select id="getBookSalesSearchDR" parameterType="StartEndKey" resultType="BookStatistics">
    SELECT * 
    FROM (
        SELECT rownum rn, a.* 
        FROM (
            SELECT 
                b.isbn, 
                b.book_title, 
                COALESCE(SUM(od.quantity), 0) AS total_sales, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.quantity ELSE 0 END), 0) AS daily_sales, 
                COALESCE(SUM(od.subtotal), 0) AS total_revenue, 
                COALESCE(SUM(CASE WHEN o.created_at >= TRUNC(SYSDATE) THEN od.subtotal ELSE 0 END), 0) AS daily_revenue
            FROM book b
            LEFT JOIN orders_detail od ON b.isbn = od.isbn
            LEFT JOIN orders o ON od.order_id = o.order_id
            WHERE b.book_title LIKE '%' || #{key} || '%'  
            GROUP BY b.isbn, b.book_title
            ORDER BY daily_revenue DESC  
        ) a 
        WHERE rownum <![CDATA[<=]]> #{end}  
    ) 
    WHERE rn > #{start}  
    ORDER BY rn
</select>
<select id="getBookCount" resultType="Integer">
	select count(isbn) from book
</select>
<select id="getBookCountSearch" parameterType="String" resultType="Integer">
	select count(isbn) from book where book_title like '%' || #{SEARCH} || '%'
</select>
<select id="getBookCategoriesCount" parameterType="String" resultType="Integer">
	select count(*) from book_categories where cat_id=#{cat_id}
</select>

<select id="getCategoryPathByCatId" parameterType="string" resultType="string">
    SELECT 
        LTRIM(SYS_CONNECT_BY_PATH(CAT_NAME, ' > '), ' > ') AS categoryPath
    FROM categories
    WHERE CAT_ID = #{cat_id}
    START WITH PARENT_ID IS NULL
    CONNECT BY PRIOR CAT_ID = PARENT_ID
</select>


 <select id="getBookDetaill" resultType="Book" parameterType="java.lang.Long">
        SELECT
            b.isbn,
            b.book_title,
            b.publisher,
            b.price,
            b.total_rating,
            b.stock,
            b.pub_date,
            b.reg_date,
            b.cat_id,
            b.image_name
        FROM
            book b
        WHERE
            b.isbn = #{isbn}
    </select>


<select id="getorderByBookBook" parameterType="StartEnd" resultType="Book">
WITH Category_Hierarchy (cat_id) AS (  
    SELECT cat_id
    FROM categories
    WHERE parent_id = #{parent_id}  
    UNION ALL
    SELECT c.cat_id
    FROM categories c
    JOIN Category_Hierarchy ch ON c.parent_id = ch.cat_id  
),
Author_List AS (
    SELECT ba.isbn, LISTAGG(ba.author, ', ') WITHIN GROUP (ORDER BY ba.author) AS authors
    FROM book_author ba
    GROUP BY ba.isbn
)
SELECT *
FROM (
    SELECT 
           ROW_NUMBER() OVER (ORDER BY b.pub_date DESC) AS row_num,  -- PARTITION BY b.isbn 제거
           b.isbn,
           b.book_title,
           al.authors, 
           b.price,
           b.publisher,
           b.pub_date,
           b.image_name,
           NVL(s.sales_count, 0) AS sales_count,
           NVL(r.review_count, 0) AS review_count,
           NVL(b.total_rating, 0) AS total_rating,
           bc.cat_id
    FROM book b
    LEFT JOIN book_categories bc ON b.isbn = bc.isbn
    LEFT JOIN Category_Hierarchy ch ON bc.cat_id = ch.cat_id
    LEFT JOIN Author_List al ON b.isbn = al.isbn
    LEFT JOIN (SELECT od.isbn, SUM(od.quantity) AS sales_count
               FROM orders_detail od
               GROUP BY od.isbn) s ON b.isbn = s.isbn
    LEFT JOIN (SELECT r.isbn, COUNT(r.review_id) AS review_count
               FROM review r
               GROUP BY r.isbn) r ON b.isbn = r.isbn
    WHERE (bc.cat_id IN (SELECT cat_id FROM Category_Hierarchy) 
           OR bc.cat_id = #{parent_id})
           <choose>
        <when test="sort == 'sales'">
            ORDER BY sales_count DESC
        </when>
        <when test="sort == 'review'">
            ORDER BY review_count DESC
        </when>
        <when test="sort == 'rating'">
            ORDER BY total_rating DESC
        </when>
        <otherwise>
            ORDER BY b.pub_date DESC
        </otherwise>
    </choose>
) a
WHERE a.row_num > #{start} AND a.row_num <![CDATA[<=]]> #{end}

</select>
<select id="getbooklistcount" parameterType="String" resultType="Integer">
WITH Category_Hierarchy (cat_id) AS (  
    SELECT cat_id
    FROM categories
    WHERE parent_id = #{parent_id}
    UNION ALL
    SELECT c.cat_id
    FROM categories c
    JOIN Category_Hierarchy ch ON c.parent_id = ch.cat_id  
)
SELECT COUNT(DISTINCT b.isbn)
FROM book b
LEFT JOIN book_categories bc ON b.isbn = bc.isbn
LEFT JOIN Category_Hierarchy ch ON bc.cat_id = ch.cat_id
WHERE bc.cat_id IN (SELECT cat_id FROM Category_Hierarchy)
   OR bc.cat_id = #{parent_id}
</select>


</mapper>

	




