<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.MyMapper">
	
    <select id="getAllCategories" resultType="Category">
       SELECT * FROM categories order by cat_id
    </select>
    <select id="getTopCategories" resultType="Category">
        SELECT cat_id, cat_name, parent_id
        FROM categories
        WHERE parent_id IS NULL
    </select>

    <!-- 특정 카테고리의 하위 카테고리 조회 -->
    <select id="getSubCategories" parameterType="String" resultType="Category">
        SELECT cat_id, cat_name, parent_id
        FROM categories
        WHERE parent_id = #{parentId}
    </select>
	<select id="getCatName" parameterType="String" resultType="String">
		select cat_name from categories where cat_id = #{cat_id}
	</select>
	
	<select id="getMaxHaWeuiCategoryId"  resultType="Integer">
	SELECT MAX(TO_NUMBER(REGEXP_SUBSTR(cat_id, '\d+'))) + 1 FROM categories
	</select>
	
	<delete id="deleteCategory" parameterType="String">
    delete from categories where cat_id = #{cat_id}
    </delete>
    
	<insert id="insertCategory" parameterType="Category">
    insert into categories (cat_id ,cat_name, parent_id)
    values (#{cat_id},#{cat_name}, #{parent_id})
    </insert>
	
	<select id="checkSubCategories" parameterType="String" resultType="Integer">
        select count(*) 
        from categories
        where parent_id = #{catId}
    </select>
	<select id="getCatIdFromIsbn" parameterType="java.lang.Long" resultType="String">
		select cat_id from book_categories where isbn=#{isbn}
	</select>
	<select id="getsubcategory" resultType="Category">
	SELECT *
	FROM categories c
	WHERE NOT EXISTS (
	SELECT 1
	FROM categories c2
	WHERE c2.PARENT_ID = c.CAT_ID
	)	
	</select>
</mapper>

	




