<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.OrderMapper">
	<select id="getMaxOrderId" resultType="String">
		select count(*) from orders
	</select>
	<select id="getMaxOrderDetailId" resultType="String">
		select count(*) from orders_detail
	</select>
	<insert id="insertOrders" parameterType="Orders">
		insert into orders values(#{order_id}, #{user_id}, #{address}, #{address_detail}, 
			#{zipcode}, #{total_price}, 0, CURRENT_TIMESTAMP)
	</insert>
	<insert id="insertOrdersDetail" parameterType="Orders_detail">
	 	insert into orders_detail values(#{order_detail_id}, #{order_id}, #{isbn},
	 		#{quantity}, 0, #{subtotal}, #{coupon_id})
	</insert>
	<insert id="insertOrdersDetailTwo" parameterType="Orders_detail">
	 	insert into orders_detail values(#{order_detail_id}, #{order_id}, #{isbn},
	 		#{quantity}, 0, #{subtotal}, NULL)
	</insert>
	<select id="getMyOrders" parameterType="StartEnd" resultType="MyOrders">
    SELECT 
        order_id, 
        order_status, 
        TO_CHAR(created_at, 'YYYY-MM-DD') AS created_at, 
        order_detail_id, 
        isbn, 
        quantity, 
        delivery_status,
        book_title,
        subtotal,
        coupon_id,
        coupon_code
    FROM (
        SELECT rownum AS rank, a.*
        FROM (
            SELECT 
                o.order_id, 
                o.order_status, 
                o.created_at,
                d.order_detail_id, 
                d.isbn, 
                d.subtotal,
                d.coupon_id,
                d.quantity, 
                d.delivery_status,
                b.book_title,
                c.coupon_code 
            FROM orders o
            JOIN orders_detail d ON o.order_id = d.order_id
            JOIN book b ON d.isbn = b.isbn
            LEFT JOIN coupon c ON d.coupon_id = c.coupon_id
            WHERE o.user_id = #{user_id, jdbcType=VARCHAR}
            ORDER BY o.created_at DESC
        ) a
    )
    WHERE rank > #{start} AND rank <![CDATA[<=]]> #{end}
</select>
	
	<select id="getTotal" parameterType="String" resultType="Integer">
	SELECT COUNT(*)
	FROM orders_detail od
	JOIN orders o ON od.order_id = o.order_id
	WHERE o.user_id = #{userId}

	</select>
	<select id="getCouponName" parameterType="Integer" resultType="String">
	select coupon_code from coupon where coupon_id=#{coupon_id}
	</select>

	<update id="cancelDelivery" parameterType="String">
		update orders_detail set delivery_status=2 where order_detail_id=#{orders_detail}
	</update>
	<update id="cancelOrder" parameterType="String"> 
	update orders set order_status = 
	1 where order_id = (
    select order_id
    from orders_detail
    where order_detail_id = #{order_detail_id} 
)	
	</update>
	<select id="getUsers" parameterType="String" resultType="MyOrders">
	select u.user_name, u.phone, o.address, o.address_detail,od.order_detail_id, o.zipcode
from orders_detail od
join orders o ON od.order_id = o.order_id
join users u ON o.user_id = u.user_id
where od.order_detail_id =#{order_detail_id}	
	</select>

	<select id="getDeliveryListWithStatus" parameterType="StartEndKey" resultType="DeliveryModel">
    SELECT * 
    FROM (
        SELECT ROWNUM rn, a.* 
        FROM (
            SELECT 
                od.ORDER_DETAIL_ID,
                od.ORDER_ID,
                od.ISBN,
                od.QUANTITY,
                od.DELIVERY_STATUS,
                o.USER_ID,
                o.CREATED_AT
            FROM orders_detail od
            JOIN orders o ON od.ORDER_ID = o.ORDER_ID
            WHERE od.DELIVERY_STATUS = #{ans}
            ORDER BY o.CREATED_AT DESC
        ) a
        WHERE rownum <![CDATA[<]]> #{end}
    )
    WHERE rn > #{start}
    ORDER BY rn
</select>
<select id="getDeliveryListWithoutStatus" parameterType="StartEndKey" resultType="DeliveryModel">
    SELECT * 
    FROM (
        SELECT ROWNUM rn, a.* 
        FROM (
            SELECT 
                od.ORDER_DETAIL_ID,
                od.ORDER_ID,
                od.ISBN,
                od.QUANTITY,
                od.DELIVERY_STATUS,
                o.USER_ID,
                o.CREATED_AT
            FROM orders_detail od
            JOIN orders o ON od.ORDER_ID = o.ORDER_ID
            ORDER BY o.CREATED_AT DESC
        ) a
        WHERE rownum <![CDATA[<]]> #{end}
    )
    WHERE rn > #{start}
    ORDER BY rn
</select>
<select id="getOrderDetailCountDeliv" parameterType="Integer" resultType="Integer">
	select count(order_detail_id) from orders_detail where delivery_status = #{count}
</select>
<select id="getOrderDetailCount" resultType="Integer">
	select count(order_detail_id) from orders_detail
</select>
<select id="updateDeliveryCount" parameterType="DeliveryModel">
	update orders_detail set delivery_status = #{delivery_status} 
		where order_detail_id = #{order_detail_id} and order_id = #{order_id}
</select>
<select id="findOdByOdId" parameterType="String" resultType="Orders_detail">
	select * from orders_detail where order_detail_id=#{order_detail_id}
</select>
</mapper>

	




