<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.OrderMapper">
	<select id="getMaxOrderId" resultType="String">
		select count(*) from orders
	</select>
	<select id="getMaxOrderDetailId" resultType="String">
		select count(*) from orders_detail
	</select>
	<insert id="insertOrders" parameterType="Orders">
		insert into orders values(#{order_id}, #{user_id}, #{address}, #{address_detail}, 
			#{zipcode}, #{total_price}, 0, CURRENT_TIMESTAMP)
	</insert>
	<insert id="insertOrdersDetail" parameterType="Orders_detail">
	 	insert into orders_detail values(#{order_detail_id}, #{order_id}, #{isbn},
	 		#{quantity}, 0)
	</insert>
	<select id="getMyOrders" parameterType="StartEnd" resultType="MyOrders">
	SELECT 
    order_id, 
    order_status, 
    TO_CHAR(created_at, 'YYYY-MM-DD') AS created_at, 
    order_detail_id, 
    isbn, 
    quantity, 
    delivery_status,
    book_title,
    subtotal,
    coupon_id
FROM (
    SELECT rownum AS rank, a.*
    FROM (
        SELECT 
            o.order_id, 
            o.order_status, 
            o.created_at,
            d.order_detail_id, 
            d.isbn, 
            d.subtotal,
            d.coupon_id,
            d.quantity, 
            d.delivery_status,
            b.book_title
        FROM orders o
        JOIN orders_detail d ON o.order_id = d.order_id
        JOIN book b ON d.isbn = b.isbn
        WHERE o.user_id = #{user_id, jdbcType=VARCHAR}
        ORDER BY o.created_at DESC
    ) a
)
where rank > #{start} and rank <![CDATA[<=]]> #{end}
	
	</select>
	<select id="getTotal" parameterType="String" resultType="Integer">
		select count(*) from orders_detail where user_id=#{user_id}
	</select>
</mapper>

	




