<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.PreferenceMapper">
	
	<select id="getMaxPrefId" parameterType="java.lang.Long" resultType="java.lang.Long">
		select count(*) from preference_test
	</select>

    <insert id="insertPref" parameterType="PreferenceTest">
        insert into preference_test values(#{pref_id}, #{user_id})
    </insert>
	
	<insert id="insertUserPref" parameterType="UserPreference">
		insert into user_preference values(#{pref_id}, #{cat_id}, 1)
	</insert>
	
	<select id="getPrefIdByUser" parameterType="String" resultType="java.lang.Long">
		select pref_id, user_id from preference_test where user_id = #{user_id}
	</select>
	<select id="getUserPref" parameterType="java.lang.Long" resultType="UserPreference">
		select pref_id, cat_id, pref_score from user_preference where pref_id = #{pref_id}
	</select>
	
	<select id="findPrefByUserId" resultType="java.lang.Long">
        SELECT pt.PREF_ID
        FROM preference_test pt
        JOIN user_preference up ON pt.PREF_ID = up.PREF_ID
        WHERE pt.USER_ID = #{userId} AND up.CAT_ID = #{catId}
    </select>
	<select id="findScoreByPref" parameterType="java.lang.Long" resultType="Integer">
		select pref_score from user_preference where pref_id = #{pref_id}
	</select>
	<update id="updateScore" parameterType="UserPreference">
		update user_preference set pref_score = #{pref_score} where pref_id = #{pref_id}
	</update>
	<delete id="DeleteUserPreference">
	delete from user_preference where cat_id=#{cat_id}
	</delete>
</mapper>

	




