<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReviewMapper">
	<insert id="writeReview" parameterType="Review">
		insert into review
		values (#{review_id},#{isbn},#{user_id},#{rating},#{content},sysdate,0)
	</insert>
	<select id="getReview" parameterType="java.lang.Long"
		resultType="Review">
		select review_id,isbn,user_id,rating,content,reg_date from
		review where isbn=#{isbn}
	</select>	
	
	<update id="increaseReportCount" parameterType="Integer">
		update review
		set singo = singo + 1
		where review_id = #{review_id}
	</update>

	<!-- 신고 횟수가 10 이상인 리뷰 삭제 -->
	<delete id="deleteReportedReviews">
		delete from review
		where singo >= 10
	</delete>
	<select id="ReviewList" parameterType="StartEnd" resultType="Review">
		select review_id, isbn,user_id, rating, content, reg_date 
		from (select rownum rank, a.*
		        from(
		        	select review_id, isbn, user_id, rating,content,
			     	to_char(reg_date,'YYYY/MM/DD') as "REG_DATE"
			     	from review where isbn=#{isbn}
			     	order by rating desc
			     	) a)
		where rank > #{start} and rank <![CDATA[<]]> #{end}	
	</select>
	<select id="getTotal" resultType="Integer">
		select count(*) from review 
	</select>
	<select id="getMaxReview" resultType="Integer">
		select max(review_id) from review
	</select>
</mapper>

	