<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SearchMapper">

	<select id="searchBooks" parameterType="DetailSearch"
		resultType="Book">
		SELECT DISTINCT
		b.ISBN,
		b.BOOK_TITLE,
		b.PUBLISHER,
		b.PUB_DATE,
		LISTAGG(ba.AUTHOR, ', ') WITHIN GROUP (ORDER BY ba.AUTHOR) AS authors
		FROM book b
		JOIN book_author ba ON b.ISBN = ba.ISBN
		WHERE
		<if test="book_title != null and book_title != ''">
			b.BOOK_TITLE LIKE '%' || #{book_title} || '%' AND
		</if>
		<if test="authors != null and authors != ''">
			ba.AUTHOR LIKE '%' || #{authors} || '%' AND
		</if>
		<if test="publisher != null and publisher != ''">
			b.PUBLISHER LIKE '%' || #{publisher} || '%' AND
		</if>
		<if test="pub_date_start != null and pub_date_end != null">
			b.PUB_DATE >= TO_DATE(#{pub_date_start}, 'YYYY-MM-DD') AND
			b.PUB_DATE <![CDATA[<=]]>
			TO_DATE(#{pub_date_end}, 'YYYY-MM-DD') AND
		</if>
		1=1
		GROUP BY b.ISBN, b.BOOK_TITLE, b.PUBLISHER, b.PUB_DATE
		ORDER BY
		b.PUB_DATE DESC
	</select>


	<select id="searchByIsbn" parameterType="java.lang.Long"
		resultType="Book">
		SELECT * FROM book where isbn = #{ ISBN }
	</select>

	<select id="searchByIsbnAuthor" parameterType="java.lang.Long"
		resultType="Book_author">
		select * from book_author where isbn = #{ISBN}
	</select>


	<select id="searchBookByTitleCat" parameterType="StartEndKey"
		resultType="Book">
		SELECT * FROM (
		SELECT b.*, rownum rn
		FROM (
		SELECT b.isbn, b.price,
		b.publisher, b.book_title, b.image_name, b.authors
		FROM (
		SELECT b.isbn,
		b.price, b.publisher, b.book_title, b.image_name,
		LISTAGG(ba.author, ',
		') WITHIN GROUP (ORDER BY ba.author) AS authors
		FROM book b
		JOIN
		book_author ba ON b.isbn = ba.isbn
		WHERE b.isbn IN (
		SELECT DISTINCT
		bc.isbn
		FROM book_categories bc
		JOIN categories c ON bc.cat_id =
		c.cat_id
		<choose>
			<when test="key == 'top'">
				where c.cat_id in
				(select cat_id from categories where
				parent_id in
				(select cat_id from categories where parent_id =
				#{cat_id} or cat_id =
				#{cat_id}))
			</when>
			<when test="key == 'mid'">
				where c.parent_id = #{cat_id} or c.cat_id = #{cat_id}
			</when>
			<when test="key == 'sub'">
				where bc.cat_id = #{cat_id}
			</when>
		</choose>
		)
		<if test="book_title != null and book_title != ''">
			AND b.book_title LIKE '%' || #{book_title} || '%'
		</if>
		GROUP BY b.isbn, b.price, b.publisher, b.book_title, b.image_name
		) b
		ORDER BY b.book_title
		) b )
		WHERE rn > #{start} AND rn <![CDATA[<]]>
		#{end}
	</select>

	<select id="searchBookByTitle" parameterType="StartEndKey"
		resultType="Book">
		SELECT * FROM (
		SELECT b.isbn, b.price, b.publisher, b.book_title, b.image_name, b.authors,
		rownum rn
		FROM (
		SELECT b.isbn, b.price, b.publisher, b.book_title, b.image_name,
		LISTAGG(ba.author, ', ') WITHIN GROUP (ORDER BY ba.author) AS authors
		FROM book b
		JOIN book_author ba ON b.isbn = ba.isbn
		WHERE b.isbn IN (
		SELECT DISTINCT bc.isbn
		FROM book_categories bc
		JOIN categories c ON bc.cat_id = c.cat_id
		WHERE c.cat_id IN (
		SELECT cat_id
		FROM categories
		WHERE parent_id IN (
		SELECT cat_id
		FROM categories
		WHERE parent_id = #{cat_id} OR cat_id = #{cat_id}
		)
		)
		)
		AND b.book_title LIKE '%' || #{book_title} || '%'
		GROUP BY b.isbn, b.price, b.publisher, b.book_title, b.image_name
		ORDER BY b.book_title
		) b
		)
		WHERE rn > #{start} AND rn <![CDATA[<]]>
		#{end}
	</select>

	<select id="getTotalCountTitle" parameterType="String"
		resultType="Integer">
		SELECT COUNT(DISTINCT b.isbn)
		FROM book b
		WHERE b.book_title LIKE '%' || #{book_title} || '%'
	</select>

	<select id="getTotalCountTitleCat" parameterType="StartEndKey"
		resultType="Integer">
		SELECT COUNT(DISTINCT b.isbn)
		FROM book b
		JOIN book_categories bc ON
		b.isbn = bc.isbn
		JOIN categories c ON bc.cat_id = c.cat_id
		WHERE 1=1

		<choose>
			<when test="key == 'top'">
				AND c.cat_id IN
				(SELECT cat_id FROM categories WHERE
				parent_id IN
				(SELECT cat_id FROM categories WHERE parent_id =
				#{cat_id} OR cat_id =
				#{cat_id})
				)
			</when>
			<when test="key == 'mid'">
				AND c.parent_id = #{cat_id} or c.cat_id = #{cat_id}
			</when>
			<when test="key == 'sub'">
				AND bc.cat_id = #{cat_id}
			</when>
		</choose>

		<if test="book_title != null and book_title != ''">
			AND b.book_title LIKE '%' || #{book_title} || '%'
		</if>
	</select>
</mapper>

	




